    <p>
    Clojure é um membro da familia de linguagens Lisp e é particularmente adequada para suportar a concorrência e técnicas de <a href="http://pt.wikipedia.org/wiki/Programa%C3%A7%C3%A3o_funcional" target="_blank">Programação Funcional</a>. Como o Lisp, o Clojure oferece um ambiente que promove a agilidade de uma maneira que muitas linguagens de programação populares não podem. Várias linguagens de programação estão enfeitiçadas por um ou mais destes tópicos:
    </p>
    <ul>
      <li>Verbosidade</li>
      <li>Padronizações clichês e inevitáveis</li>
      <li>Um ciclo muito longo de pensamento > código > resultado</li>
      <li>Dificuldades para extensão</li>
      <li>Deficiências para suportar paradigmas cruciais da programação</li>
    </ul>
    <p>
    Em contraste, o Clojure oferece uma mistura de poder e praticidade que acelera o ciclo de desenvolvimento. Mas os benefícios do Clojure não terminam na agilidade natural que ele oferece. Clojure te ajuda no desenvolvimento multicore, e mesmo este não sendo um assunto novo, sua importância tem crescido ultimamente. Até recentemente você poderia evitar concorrência e paralelismo utilizando processadores mais rápidos, enfileiramento, etc. Bem, esse tipo de técnica está cada vez mais ineficaz e o Clojure está aqui para te ajudar nisso.
    </p>
    <p>
    Clojure oferece um mix único de programação funcional e uma interação com multiplas opções de hospedagem - através do seu suporte direto utilizando a JVM (Java Virtual Machine) e o Javascript.
    </p>
    <p>
    Clojure compartilha da idéia por trás do Lisp de que <a href="http://en.wikipedia.org/wiki/Homoiconicity" target="_blank">"código é data"</a>. A estruturação de dados no Clojure não é utilizada apenas para comportar os dados da aplicação, mas também para cuidar dos próprios elementos da aplicação. Enquanto outras linguagens de programação orientadas a objeto possam te encorajar a definir diversas classes incompatíveis para tratar os dados da aplicação, o Clojure irá te aconselhar a usar mapeamento de objetos.
    </p>
    <p>
    Há ainda que se considerar que a simplificação do código e a constante eliminação de complexidades envolvidas na coordenação de multabilidade posicionam o Clojure como uma importante linguagem nos próximos anos. Todos os desenvolvedores de software devem cedo ou tarde enfrentar esses assuntos e o estudo, entendimento e uma eventual a utilização do Clojure é essencial para esse caminho de aprendizado.
    </p>
    <p>
    Simplicidade, liberdade para focar, emancipação, consistencia e claridade - quase todos os elementos da programação em Clojure tem como finalidade promover estes objetivos. Se quando você estiver escrevendo código, o seu desejo é de maximizar a simplicidade, independência e a liberdade para focar no real problema que você tem nas mãos, acredito que você irá achar que o Clojure fornece as ferramentas perfeitas que você precisa para o sucesso.
    </p>
    <p>
    Espero abordar melhor cada um destes assuntos levantados acima e compartilhar com vocês a combinação das facilidades elegantes, poder, liberdade, agilidade e diversão que o Clojure oferece.
    </p>
    <p>
      <b>Fellipe Brito</b><br />
      Diretor de Tecnologia / Lead Systems Engineer<br />
      Devlandia / Rumblefish<br />
      <i><a href="mailto:talkto@fellipebrito.com">mail</a></i>
      <i><a href="http://twitter.com/fellipeeduardo" target="_blank">twitter</a></i>
      <i><a href="http://fellipebrito.com" target="_blank">blog</a></i>
    </p>
    <div class="about-footer">
      Muito do bom conteúdo que eu vou disponibilizar aqui faz parte de vários livros, websites, forums, conferencias, podcasts e tantas outras ricas fontes de conhecimento estudadas em inglês, espanhol e italiano.<br />
      Meu objetivo é ser apenas uma ponte para que a comunidade de lingua portuguesa tenha acesso a um resumo de tudo que tenho lido, praticado e aprendido.<br />
      Esse projeto é uma grande paráfrase, formada por livre traduções, sem comprometimento com a exatidão de termos mas apenas com a claridade e integridade da idéia original.<br />
      Você lê inglês? Beba da fonte <a href="http://clojure.org/" target="_blank">aqui</a>.
    </div>
