// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

body{
  font-family: Courier;
  padding: 1%;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 75px !important;
  float: left;
  padding: 0 50px 0 0;
}

.about-footer{
  color: gray;
  font-size: 11px;
  width: 80%;
  font-style: italic;
  margin-left: auto;
  margin-right: auto;
  border-top-style: dashed;
  padding-top: 10px;
  border-color: gray;
}
